*{
    padding: 0px;
    margin: 0px;
}

img {
    height: 20px;
    margin-left: 50px;
}

.bda {
    width: 25%;
    text-align: center;
}

.android {
    width: 35%;
    padding: 30px;
    /* text-align: center; */
}

.android_th {
    text-align: left;
}